.question {
  margin: auto;
  margin-top: 25px;
  padding: 10px;
  display: block;
  width: 65%;
  height: 200px;
  /* box-sizing: border-box;
  border: 1px solid rgb(210, 207, 207);
  border-radius: 15px;
  box-shadow: 0 7px 7px #ccc; */
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  overflow: auto;
}

